/**
 * Buttons - this CSS has the default button styles.
 */

/* Colors
 *
 * Black:      #000000;
 * Blue:       #0070E0;
 * Light-blue: #F1F9FF;
 * Dark-Grey:  #333333;
 * Med-Grey:   #888686;
 * Light-Grey: #DDDBDB;
 * Orange:     #D07335;
 * Pink:       #FBF6F6;
 * Red:        #800000;
 * White:      #FFFFFF;
 * */

/* Global button reset - so we can use the actual button element. */
button,
.button,
[type="button"],
[type="reset"],
[type="upload"],
[type="submit"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  padding: 0;
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.button.cta,
button.cta,
.button.noimage,
button.noimage,
.button[type="submit"],
.button[type="reset"],
.button[type="upload"] {
  border-radius: 18px;
  border: 0px solid;
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1;
  padding: 10px 17px 9px 17px;
  text-decoration: none;
  white-space: nowrap;
}
@media (max-width: 768px), only print and (max-width: 768px) {
  .button.cta,
  button.cta,
  .button.noimage,
  button.noimage,
  .button[type="submit"],
  .button[type="reset"],
  .button[type="upload"] {
    font-size: 1.6rem;
  }
}
@media (max-width: 400px) {
  .button.cta.long-text,
  button.cta.long-text,
  .button.noimage.long-text,
  button.noimage.long-text,
  .button[type="submit"].long-text,
  .button[type="reset"].long-text,
  .button[type="upload"].long-text {
    font-size: 1.2rem;
  }
}
.button.cta::after,
button.cta::after {
  background: transparent url('../images/svgs/arrow-right-white.svg') no-repeat center center /cover;
  content: "";
  display: inline-block;
  font-size: 0;
  height: 14px;
  margin-left: 8px;
  position: relative;
  top: 1px;
  width: 14px;
}
.button.cta:hover::after,
.button.cta:active::after,
.button.cta:focus::after,
button.cta:hover::after,
button.cta:active::after,
button.cta:focus::after {
  background-image: url('../images/svgs/arrow-right-blue.svg');
}
.button.cta.cancel-button:hover::after,
.button.cta.cancel-button:active::after,
.button.cta.cancel-button:focus::after,
button.cta.cancel-button:hover::after,
button.cta.cancel-button:active::after,
button.cta.cancel-button:focus::after,
.button.cta.cancel-button::after,
.button.cta.cancel-button::after,
.button.cta.cancel-button::after,
button.cta.cancel-button::after,
button.cta.cancel-button::after,
button.cta.cancel-button::after {
  background: none;
  height: 0;
  width: 0;
  margin:0;
}

.button.cta.gray-bg:hover,
.button.cta.gray-bg:active,
.button.cta.gray-bg:focus,
button.cta.gray-bg:hover,
button.cta.gray-bg:active,
button.cta.gray-bg:focus {
  color: #333333;
  background-color: #FFFFFF;
}
.button.cta.gray-bg:hover::after,
.button.cta.gray-bg:active::after,
.button.cta.gray-bg:focus::after,
button.cta.gray-bg:hover::after,
button.cta.gray-bg:active::after,
button.cta.gray-bg:focus::after {
  background-image: url('../images/svgs/arrow-right-gray.svg');
}


/* Desktop */
@media (min-width: 1170px) {
  .button.cta,
  button.cta,
  .button[type="submit"],
  .button[type="reset"],
  .button[type="upload"]  {
    border-radius: 22px;
    font-size: 1.7rem;
    padding: 13px 17px 12px 17px;
  }
}

.button.small,
button.small {
  border-radius: 12px;
  border: 0px solid;
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1;
  padding: 5px;
  text-decoration: none;
}
/* Desktop */
@media (min-width: 1170px) {
  .button.small,
  button.small {
    border-radius: 18px;
    font-size: 1.7rem;
    padding: 4px 8px;
  }
}

.submit-wrapper {
  position: relative;
  display: inline-block;
  margin: 0 auto;
}
.submit-wrapper .button[type="submit"] {
  padding: 8px 30px 7px 15px;
}
.submit-wrapper .submit-arrow {
  background: transparent url('../images/svgs/arrow-right-white.svg') no-repeat center center /cover;
  display: inline-block;
  font-size: 0;
  height: 14px;
  margin-left: -25px;
  position: absolute;
  top: 9px;
  width: 14px;
  transition: background-image 0.3s;
}
.submit-wrapper input:hover + .submit-arrow,
.submit-wrapper input:focus + .submit-arrow,
.submit-wrapper input:active + .submit-arrow {
  background-image: url('../images/svgs/arrow-right-blue.svg');
}

.button.blue,
button.blue {
  background-color: #0070E0;
  box-shadow: 0 0 0 2px #0070E0;
  color: #FFFFFF;
}
.button.blue:hover,
.button.blue:active,
.button.blue:focus,
button.blue:hover,
button.blue:active,
button.blue:focus {
  background-color: #FFFFFF;
  box-shadow: 0 0 0 2px #0070E0;
  color: #0070E0;
  cursor: pointer;
  outline: none;
}
@media (min-width: 1170px) {
  .button.blue.large,
  button.blue.large,
  .button.blue.large:hover,
  .button.blue.large:active,
  .button.blue.large:focus,
  button.blue.large:hover,
  button.blue.large:active,
  button.blue.large:focus {
    box-shadow: 0 0 0 3px #0070E0;
  }
}

.button.gray,
button.gray {
  background: rgba(51, 51, 51, 0.11);
  color: #333;
  font-size: 1.5rem;
  padding: .6rem 1.5rem;
}
.button.gray:hover,
.button.gray:active,
.button.gray:focus,
button.gray:hover,
button.gray:active,
button.gray:focus {
  background: rgba(51, 51, 51, .24);
  color: #222;
}

.button.backtotop,
button.backtotop,
.button.sort-up,
button.sort-up,
.button.sort-down,
button.sort-down {
  align-items: center;
  background-color: transparent;
  color: #0070E0;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.6rem;
  line-height: 1;
  outline: none;
  text-decoration: none;
}
.button.backtotop::after,
button.backtotop::after,
.button.sort-up::after,
button.sort-up::after,
.button.sort-down::after,
button.sort-down::after {
  all: inherit;
  background: #0070E0 url('../images/svgs/arrow-right-white.svg') no-repeat center 45%;
  background-size: 50%;
  border-radius: 50%;
  border: 2px solid #0070E0;
  content: "";
  display: inline-block;
  font-size: 0;
  height: 4rem;
  margin-left: 8px;
  outline: none;
  padding: 1rem;
  position: relative;
  transform: rotate(-90deg);
  transition: background-color 0.3s;
  top: 1px;
  width: 4rem;
}
.button.sort-down::after,
button.sort-down::after {
  transform: rotate(90deg);
}
.button.backtotop:hover::after,
.button.backtotop:active::after,
.button.backtotop:focus::after,
button.backtotop:hover::after,
button.backtotop:active::after,
button.backtotop:focus::after,
.button.sort-up:hover::after,
.button.sort-up:active::after,
.button.sort-up:focus::after,
button.sort-up:hover::after,
button.sort-up:active::after,
button.sort-up:focus::after,
.button.sort-down:hover::after,
.button.sort-down:active::after,
.button.sort-down:focus::after,
button.sort-down:hover::after,
button.sort-down:active::after,
button.sort-down:focus::after {
  border: 1px solid #0070E0;
  background: #FFFFFF url('../images/svgs/arrow-right-blue.svg') no-repeat center 45%;
  background-size: 50%;
}
.button.backtotop:active::after,
.button.backtotop:focus::after,
button.backtotop:active::after,
button.backtotop:focus::after,
.button.sort-up:active::after,
.button.sort-up:focus::after,
button.sort-up:active::after,
button.sort-up:focus::after,
.button.sort-down:active::after,
.button.sort-down:focus::after,
button.sort-down:active::after,
button.sort-down:focus::after {
  outline: auto;
}
@media (min-width: 768px) {
  .button.backtotop,
  .button.sort-up,
  .button.sort-down {
    font-size: 1.8rem;
  }
}
@media (min-width: 1170px) {
  .button.backtotop,
  .button.sort-up,
  .button.sort-down {
    font-size: 2rem;
  }
}

.button.fave,
.button.diss,
button.fave,
button.diss {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border: 1px solid #0070E0;
  background-color: #FFFFFF;
  background-image: url('../images/svgs/star-grey.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 13px 13px;
  overflow: hidden;
  border-radius: 50%;
  text-indent: -9999px;
}
.logged-in .button.fave,
.logged-in .button.diss,
.logged-in button.fave,
.logged-in button.diss {
  display: inline-block;
}
.button.fave:hover,
.button.fave:active,
.button.fave:focus,
.button.fave.active,
button.fave:hover,
button.fave:active,
button.fave:focus,
button.fave.active {
  background-image: url('../images/svgs/star-blue.svg');
  cursor: pointer;
}
.button.diss,
button.diss {
  background-image: url('../images/svgs/close-med-grey.svg');
  left: auto;
  right: 13px;
}
.button.save,
.button.miss,
button.save,
button.miss {
  display: none;
  font-size: 1.5rem;
  color: #333333;
  background-color: rgba(255,255,255,0.7);
  height: 25px;
  padding: 4px 10px;
  border-radius: 25px;
  position: absolute;
  top: 10px;
  left: 41px;
}
.button.miss,
button.miss {
  left: auto;
  right: 41px;
}
.button.diss:hover,
.button.diss:active,
.button.diss:focus,
.button.diss.active,
button.diss:hover,
button.diss:active,
button.diss:focus,
button.diss.active {
  background-image: url('../images/svgs/close-med-blue.svg');
  cursor: pointer;
}

.button.clear,
button.clear {
  background-color: transparent;
  box-shadow: 0 0 0 2px #FFFFFF;
  color: #FFFFFF;
}
.button.clear:hover,
.button.clear:active,
.button.clear:focus,
button.clear:hover,
button.clear:active,
button.clear:focus {
  box-shadow: 0 0 0 2px #FFFFFF;
  cursor: pointer;
  outline: none;
}
@media (min-width: 1170px) {
  .button.clear.large,
  button.clear.large,
  .button.clear.large:hover,
  .button.clear.large:active,
  .button.clear.large:focus,
  button.clear.large:hover,
  button.clear.large:active,
  button.clear.large:focus {
    box-shadow: 0 0 0 3px #FFFFFF;
  }
}

.button.large {
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .button.large {
    border-radius: 30px;
    font-size: 2.2rem;
    margin-bottom: 35px;
    padding: 15px 18px 14px 18px;
  }
  .button.large::after {
    height: 16px;
    margin-left: 12px;
    top: 0px;
    width: 16px;
  }
}
@media (min-width: 1170px) {
  .button.large {
    border-radius: 44px;
    font-size: 3.0rem;
    margin-bottom: 45px;
    padding: 22px 28px 21px 28px;
  }
  .button.large::after {
    height: 25px;
    margin-left: 16px;
    top: 2px;
    width: 25px;
  }
}

.button.clear.blue-border {
  background-color: #FFFFFF;
  box-shadow: 0 0 0 2px #0070E0;
  color: #0070E0;
}
.button.clear.blue-border::after {
  background-image: url('../images/svgs/arrow-right-blue.svg');
}
.button.clear.blue-border:hover,
.button.clear.blue-border:active,
.button.clear.blue-border:focus {
  background-color: #0070E0;
  color: #FFFFFF;
}
.button.clear.blue-border:hover::after,
.button.clear.blue-border:active::after,
.button.clear.blue-border:focus::after {
  background-image: url('../images/svgs/arrow-right-white.svg');
}

.button.clear.small.blue-border {
  box-shadow: 0 0 0 1px #0070E0;
}
@media (min-width: 1170px) {
  .button.clear.large.blue-border {
    box-shadow: 0 0 0 3px #0070E0;
  }
}
.button.clear.small.blue-border.close {
  border-radius: 50%;
  font-size: 3rem;
  height: 26px;
  line-height: 20px;
  padding: 0 2px 0 4px;
  width: 25px;
}
.button.clear.small.blue-border.close,
.button.clear.small.blue-border.nope {
  color: #333333;
}
.button.clear.small.blue-border.close:hover,
.button.clear.small.blue-border.close:active,
.button.clear.small.blue-border.close:focus,
.button.clear.small.blue-border.nope:hover,
.button.clear.small.blue-border.nope:active,
.button.clear.small.blue-border.nope:focus {
  color: #FFFFFF;
  background-color: #333333;
}

.button.clear.blue-border.close::after {
  background-image: url('../images/svgs/close-blue.svg');
}
.button.clear.blue-border.close:hover::after,
.button.clear.blue-border.close:active::after,
.button.clear.blue-border.close:focus::after {
  background-image: url('../images/svgs/close-white.svg');
}

.button.clear.blue-border.none::after,
.button.clear.blue-border.none:hover::after,
.button.clear.blue-border.none:active::after,
.button.clear.blue-border.none:focus::after {
  content: none;
}

.button.clear.blue-border.transparent {
  background-color: transparent;
  text-decoration: none;
}
.button.clear.blue-border.transparent:hover,
.button.clear.blue-border.transparent:active,
.button.clear.blue-border.transparent:focus {
  background-color: #fff;
  color: #0070E0;
}

.content .button.disabled,
.content button.disabled,
.content .button.disabled:hover,
.content .button.disabled:active,
.content .button.disabled:focus,
.content button.disabled:hover,
.content button.disabled:active,
.content button.disabled:focus {
  background-color: #F2F2F2;
  color: #B7B7B7;
  box-shadow: 0 0 0 2px #B7B7B7;
  cursor: default;
}
@media (min-width: 1170px) {
  .content .button.large.disabled,
  .content button.large.disabled,
  .content .button.large.disabled:hover,
  .content .button.large.disabled:active,
  .content .button.large.disabled:focus,
  .content button.large.disabled:hover,
  .content button.large.disabled:active,
  .content button.large.disabled:focus {
    box-shadow: 0 0 0 3px #B7B7B7;
  }
}
.content .button.disabled::after,
.content .button.disabled:hover::after,
.content .button.disabled:active::after,
.content .button.disabled:focus::after {
  background-image: url('../images/svgs/arrow-right-lt-gray.svg');
}

.switch {
  display: inline-block;
  margin-right: 4px;
  position: relative;
  height: 24px;
}
label.switch-label {
  clip: rect(0 0 0 0);
  color: transparent;
  display: block;
  height: 24px;
  line-height: 1.6;
  overflow: hidden;
  text-indent: -150%;
  user-select: none;
  width: 52px;
}
.switch.active label.switch-label {
  border-radius: 12px;
  box-shadow: 0px 0px 4px 2px #0070E0;
}
label.switch-label::before,
label.switch-label::after {
  content: "";
  cursor: pointer;
  display: block;
  font-size: 7px;
  font-weight: normal;
  position: absolute;
}
label.switch-label::before {
  background-color: #333333;
  border-radius: 9999em;
  color: #FFFFFF;
  content: 'HIDE';
  display: flex;
  align-items: center;
  height: 100%;
  letter-spacing: 0.5px;
  text-indent: 26px;
  transition: background-color 0.25s ease;
  width: 100%;
}
label.switch-label.disabled::before {
  background-color: #8A8A8A;
}
label.switch-label::after {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  height: 20px;
  left: 2px;
  top: 2px;
  transition: left 0.25s ease;
  width: 20px;
}
.switch-input:checked + label.switch-label::before {
  background-color: #0070E0;
  color: #FFF;
  content: 'SHOW';
  text-indent: 4px;
}
.switch-input:checked + label.switch-label::after {
  left: 30px;
}

/* Directional arrows - used on the .listbox-multiselect. */
button.up,
button.down,
button.right,
button.left {
  height: 0;
  overflow: hidden;
  text-indent: -9999px;
  width: 0;
}
button.up {
  border-bottom: 8px solid #0070E0;
  border-left: 8px solid #F1F9FF;
  border-right: 8px solid #F1F9FF;
  margin-bottom: 16px;
}
button.down {
  border-left: 8px solid #F1F9FF;
  border-right: 8px solid #F1F9FF;
  border-top: 8px solid #0070E0;
}
button.right {
  border-bottom: 8px solid #F1F9FF;
  border-left: 8px solid #0070E0;
  border-top: 8px solid #F1F9FF;
  margin-bottom: 12px;
}
button.left {
  border-bottom: 8px solid #F1F9FF;
  border-right: 8px solid #0070E0;
  border-top: 8px solid #F1F9FF;
}

label.has-tooltip {
  width: 100%;
}
.tooltip {
  background-color: #0070E0;
  border-radius: 50%;
  bottom: 1px;
  box-shadow: 0 0 0 2px #0070E0;
  color: #FFFFFF;
  display: inline-block;
  font-size: 1.3rem;
  height: 13px;
  line-height: 13px;
  margin-left: 6px;
  position: relative;
  text-align: center;
  width: 13px;
}
.tooltip-text {
  background-color: #0070E0;
  color: #FFFFFF;
  display: none;
  font-size: 1.7rem;
  line-height: 1.2;
  padding: 10px;
  position: absolute;
  text-transform: none;
  min-width: 280px;
  z-index: 10;
  left: 0px;
  bottom: 35px;
  text-align: left;
}
.tooltip-text .pointer {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 15px solid #0070E0;
  height: 0;
  left: 0;
  bottom: -15px;
  overflow: hidden;
  width: 0;
  position: absolute;
}

.button.remove,
button.remove {
  width: 25px;
  height: 25px;
  border: 1px solid #0070E0;
  background-color: #FFFFFF;
  background-image: url('../images/svgs/close-med-grey.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 13px 13px;
  overflow: hidden;
  border-radius: 50%;
  text-indent: -9999px;
}
.button.remove:hover,
.button.remove:active,
.button.remove:focus,
.button.remove.active,
button.remove:hover,
button.remove:active,
button.remove:focus,
button.remove.active {
  background-image: url('../images/svgs/close-med-blue.svg');
  cursor: pointer;
}

.button.add,
button.add {
  align-items: center;
  background-color: transparent;
  color: #0070E0;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.6rem;
  line-height: 1;
  text-decoration: none;
}
.button.add::before,
button.add::before {
  background: #0070E0 url('../images/svgs/plus-white.svg') no-repeat center center;
  background-size: 50%;
  border-radius: 50%;
  border: 2px solid #0070E0;
  content: "";
  display: inline-block;
  font-size: 0;
  height: 4rem;
  margin-right: 8px;
  padding: 1rem;
  position: relative;
  transform: rotate(-90deg);
  transition: background-color 0.3s;
  top: 1px;
  width: 4rem;
}
.button.add:hover::before,
.button.add:active::before,
.button.add:focus::before,
button.add:hover::before,
button.add:active::before,
button.add:focus::before {
  border: 1px solid #0070E0;
  background: #FFFFFF url('../images/svgs/plus-blue.svg') no-repeat center center;
  background-size: 50%;
}
@media (min-width: 768px) {
  .button.add {
    font-size: 1.8rem;
  }
  .button.next-page {
    margin-top: 25px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1170px) {
  .button.add {
    font-size: 2rem;
  }
}

@media (max-width: 768px), only print and (max-width: 768px) {
  .button.large.checkout {
    border-radius: 30px;
    font-size: 2.2rem;
    margin-bottom: 35px;
    padding: 15px 18px 14px 18px;
  }
}


/************* Modal Close ************/

.modal .button.close {
  border-radius: 50%;
  height: 36px;
  overflow: hidden;
  position: absolute;
  right: 5px;
  text-indent: -9999px;
  top: 5px;
  width: 36px;
}
.modal .button.close:before {
  background-color: #FFFFFF;
  content: "";
  height: 1px;
  left: calc(50% - 12.5px);
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 25px;
}
.modal .button.close:after {
  background-color: #FFFFFF;
  content: "";
  height: 1px;
  left: calc(50% - 12.5px);
  position: absolute;
  top: 50%;
  transform: rotate(-45deg);
  width: 25px;
}
.modal .button.close:hover,
.modal .button.close:active,
.modal .button.close:focus {
  border: 1px solid #ffffff;
  color: #000000;
  outline: none;
}

.modal .button.close.reversed:before,
.modal .button.close.reversed:after {
  background-color: #000000;
}
.modal .button.close.reversed:hover,
.modal .button.close.reversed:active,
.modal .button.close.reversed:focus {
  border: 1px solid #000000;
  color: #ffffff;
}

.modal .button.close.upload:before,
.modal .button.close.upload:after {
  background-color: #0070E0;
}
.modal .button.close.upload:hover,
.modal .button.close.upload:active,
.modal .button.close.upload:focus {
  border: 1px solid #0070E0;
  color: #ffffff;
}

.add-link {
  text-decoration: none;
}

.content-section-controls button {
  margin-right: 25px;
  margin-bottom: 10px;
}
.content-section-sort {
  float: right;
}
.content-section-sort button {
  margin-right: 0;
}

