@font-face{
font-family:"UCHI-Helvetica-Neue-Normal";
src:url("../fonts/5664093/08b57253-2e0d-4c12-9c57-107f6c67bc49.woff2") format("woff2"),url("../fonts/5664093/08edde9d-c27b-4731-a27f-d6cd9b01cd06.woff") format("woff");
}
@font-face{
font-family:"UCHI-Helvetica-Neue-Normal-Italic";
src:url("../fonts/5664098/4bd56f95-e7ab-4a32-91fd-b8704cbd38bc.woff2") format("woff2"),url("../fonts/5664098/4fe1c328-1f21-434a-8f0d-5e0cf6c70dfb.woff") format("woff");
}
/*@font-face{
font-family:"UCHI-Helvetica-Neue-Semibold";
src:url("../fonts/5664103/240c57a0-fdce-440d-9ce3-85e0cb56f470.woff2") format("woff2"),url("../fonts/5664103/7802e576-2ffa-4f22-a409-534355fbea79.woff") format("woff");
}*/
@font-face{
font-family:"UCHI-Helvetica-Neue-Bold";
src:url("../fonts/5664150/800da3b0-675f-465f-892d-d76cecbdd5b1.woff2") format("woff2"),url("../fonts/5664150/7b415a05-784a-4a4c-8c94-67e9288312f5.woff") format("woff");
}

